.atag
{
    color: black;
    text-decoration: none;
}

strong
{
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

p
{
    margin: 30px;
}

// .interests
// {
//     display: inline-block;
// }

h1,h3
{
    margin-left: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),-2px -2px 4px rgba(255, 255, 255, 0.5);

}

p
{
    color: rgb(31, 31, 31);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),

}

main
{
    height: 100vh;
    background-image: linear-gradient(to right, rgb(255, 255, 255),grey);
}